<button class="download-button" (click)="onBtExport()">DESCARGAR REPORTE</button>
  <button class="download-button" (click)="showState(true)">Show status</button>
  <button class="download-button" (click)="showState(false)">Hide status</button>
<ag-grid-angular
    style="width: 1200px; height: 700px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    (cellClicked)="onCellClicked($event)"
    suppressMenuHide="true"
    rowSelection="multiple"
    [groupSelectsChildren]="true"
    [suppressRowClickSelection]="true"
    (gridReady)="onGridReady($event)"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    >
</ag-grid-angular>

<!-- [columnDefs]="columnDefs"
      [rowData]="rowData"
      [rowSelection]="rowSelection"
      [groupSelectsChildren]="true"
      [suppressRowClickSelection]="true"
      [autoGroupColumnDef]="autoGroupColumnDef" -->
