// $odd-row-background-color: red;
// .ag-theme-balham .ag-root  {
//   border: none;
// }

// $odd-row-background-color: red;
// $grid-size: 10px !default;
// $row-height: $grid-size * 9 !default;

.my-class-1 {
  font-weight: bold;
}

.sick-days-breach {
  background-color: lightcoral !important;
}

.download-button {
  padding: 0.7em 1em;
  font-size: 12px;
  border: 1px solid #367bf5;
  color: #367bf5;
  border-radius: 20px;
  cursor: pointer;
}


